/* YouTubeチャンネルスタイル */
.youtube-channel {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.youtube-channel h3 {
    font-size: 2em;
    color: #4a4a4a;
    font-family: 'Noto Serif JP', serif;
}

.youtube-channel p {
    font-size: 1.2em;
    color: #6d6d6d;
}

.youtube-channel .button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #b58900;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
    font-family: 'Noto Serif JP', serif;
}

.youtube-channel .button:hover {
    background-color: #d1a100;
}